@import 'tailwindcss';

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #f3f4f6;
	background-color: #111827;

	.bg-secondary {
		background-color: #374151;
	}

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #1f2937;
		background-color: #f3f4f6;

		.bg-secondary {
			background-color: #ffffff;
		}
	}
}

.error-container {
	@apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-lg relative mx-auto my-8;
}

.photos-grid-container {
	height: calc(
		100vh - 108px
	); /* viewport height minus footer height and header height */
}

.no-scrollbar {
	-ms-overflow-style: none; /* Internet Explorer and Edge */
	scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, and Opera */
}
